:root {
    --green: #94B688;
    --background: #0C204A;
    --grey: #454851;
    --white: #FBEFF9;
    --contrast: #F78B38;
    --red: #B03B39;
    --ligthred: #D95D41;
    --warm: #DE9334;
    --yellow: #E4B44C;
    --brown: #865A39;
}

h1 {
    text-align: center;
    color: #F78B38;
    margin-top: 3.6rem;
}

section {
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    background-color: rgba(69, 72, 81, 0.4);
}

h2 {
    color: #94B688;
    padding-bottom: 0.5rem;
}

p {
    color: #FBEFF9;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1300px) {
    h1 {
        text-align: left;
        margin-left: 8rem;
    }

    section {
        margin: 3.5rem;
    }
}