:root {
    --green: #94B688;
    --background: #0C204A;
    --grey: #454851;
    --white: #FBEFF9;
    --contrast: #F78B38;
    --red: #B03B39;
    --ligthred: #D95D41;
    --warm: #DE9334;
    --yellow: #E4B44C;
    --brown: #865A39;
}

.newsbar {
    width: 2.5rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.75rem;
    margin-right: 5rem;
}

aside {
    display: none;
}

#news-bar:checked ~ aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    margin-top: 4rem;
    z-index: 100;
    width: 100%;
    background-color: var(--warm);
}

article {
    margin: 0 auto;
}

aside article img {
    width: 100%;
}

h3 {
    text-align: center;
    padding: 0.5rem;
}

h1 {
    margin: 4rem auto;
    color: #F78B38;
    font-size: 2rem;
    text-align: center;
}

h2 {
    text-align: center;
    color: var(--white);
    margin-top: 2rem;
}

.newshead {
    font-size: 2.4rem;
    color: black;
    margin: 1rem;
}

section p {
    color: var(--white);
    margin: 1.2rem;
}

@media only screen and (min-width: 540px) and (orientation: landscape) {
    .asideflex {
        display: flex;
        flex-direction: row;
    }

    article img {
        width: 85% !important;
    }

    .newsbar {
        margin-top: 1.5rem;
    }
}

@media only screen and (min-width: 540px) {
    h1 {
        font-size: 2.4rem;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .newsbar {
        width: 4rem;
        margin-top: 1.7rem;
        margin-right: 7rem;
    }
}

@media only screen and (min-width: 1024px) {
    h1 {
        margin: 2.3rem auto;
    }
}

@media only screen and (min-width: 1300px) {
    h1 {
        margin-top: 0.5rem;
        margin-left: 8.6rem;
        text-align: left;
    }
}

@media only screen and (min-width: 1600px) {
    h1 {
        margin-top: 1.1rem;
        margin-left: 9.5rem;
        font-size: 3.1rem;
    }
}