* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #0C204A;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root {
    --green: #94B688;
    --background: #0C204A;
    --grey: #454851;
    --white: #FBEFF9;
    --contrast: #F78B38;
    --red: #B03B39;
    --ligthred: #D95D41;
    --warm: #DE9334;
    --yellow: #E4B44C;
    --brown: #865A39;
}

header {
    display: flex;
    flex-direction: row;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2%;
    height: 2.8rem;
}

#navbox {
    display: none;
}

nav {
    width: 100%;
}

nav ul {
    display: none;
}

input {
    display: none;
}

.burgermenu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2%;
    width: 3rem;
}

#menu-bar:checked ~ ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 4rem;
    list-style: none;
    position: absolute;
    width: 100%;
}

#menu-bar:checked ~ ul li {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 1% 1%;
    padding: 0.5rem;
    width: 45%;
    text-align: center;
}

#menu-bar:checked ~ ul li a {
    text-decoration: none;
    color: var(--contrast);
    font-size: 2rem;
}

#menu-bar ul li:focus-within > ul,
#menu-bar ul li:hover > ul {
    display: block;
}

footer {
    background-color: #865A39;
    margin-top: auto;
}

footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
}

footer ul li {
    text-wrap: wrap;
    color: #FBEFF9;
    padding: 6%;
    font-size: 1rem;
}


@media only screen and (min-width: 540px) {

    .logo {
        height: 3.1rem;
    }

    .burgermenu {
        width: 3.3rem;
    }

    #menu-bar:checked ~ ul li a {
        font-size: 1.4rem;
    }
    
    footer ul li {
        padding: 2%;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {

    .logo {
        height: 5.1rem;
    }

    .burgermenu {
        width: 5.3rem;
    }

    #menu-bar:checked ~ ul {
        margin-top: 6rem;
    }

    #menu-bar:checked ~ ul li a {
        font-size: 2.4rem;
    }

    footer ul li {
        font-size: 2rem;
    }   
}

@media only screen and (min-width: 1024px) {
    
    .logo {
        height: 5.3rem;
    }

    .burgermenu {
        width: 5.4rem;
    }

    #menu-bar:checked ~ ul {
        margin-top: 6.2rem;
    }

    #menu-bar:checked ~ ul li a {
        font-size: 2.4rem;
    }

    footer ul li {
        font-size: 1.6rem;
    }   
}

@media only screen and (min-width: 1300px) {
    
    #navbox {
        display: block;
        width: 67vw;
        height: 5rem;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        background: linear-gradient(38deg, var(--background) 11ch, var(--contrast) 11.1ch);
    }

    label {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row !important;
        list-style: none;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul li {
       padding: 0 1rem;
       margin-top: 1rem;
    }

    nav ul li a {
        text-decoration: none;
        color: #2b2d31;
        font-size: 2.3rem;
        display: block;
        width: 100%;
    }

    nav ul li ul {
        display: none;
    }

    footer ul li {
        font-size: 1.5rem;
    }  
}

@media only screen and (min-width: 1600px) {

    .logo {
        height: 6rem;
    }

    nav ul li {
        padding: 0 2.6rem;
    }

    footer ul li {
        font-size: 1.75rem;
        margin: 0.5rem 0;
    }
}
