.reviews {
    display: flex;
    flex-direction: column;
    color: #E7E0D6;
    text-shadow: 2px 2px 2px black;
    font-size: 0.8rem;
    background: url(../imgs/reviews.webp), rgba(0, 0, 0, 0.7);
    background-size: 200% 100%;
    background-position: 50% 50%;
    text-align: center;
    height: 30%;
}

.rating {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 5%;
}

.fas {
    width: 8%;
}

.review-1, .review-2, .review-3, .review-4 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10% 20px;
}

main section section article {
    height: 100%;
}

.slide {
    width: 100%;
    height: 0px;
    padding-bottom: 50%;
    overflow: hidden;
    position: relative;
}

.slide article {
    position: absolute;
    animation: fling-minislide 20s infinite;
    opacity: 0;
    width: 100%;
}

@keyframes fling-minislide {
    10%, 45% { opacity: 1; }
    46%, 89% { opacity: 0; }
}
.slide article:nth-child(1){
    animation-delay:0s;
}
.slide article:nth-child(2){
    animation-delay:10s;
}

.review-1 h2, .review-2 h2, .review-3 h2, .review-4 h2 {
    margin-bottom: 4%;
}