:root {
    --green: #94B688;
    --background: #0C204A;
    --grey: #454851;
    --white: #FBEFF9;
    --contrast: #F78B38;
    --red: #B03B39;
    --ligthred: #D95D41;
    --warm: #DE9334;
    --yellow: #E4B44C;
    --brown: #865A39;
}

h1 {
    color: #F78B38;
    text-align: center;
    margin-top: 1rem;
}

h2 {
    color: #94B688;
    text-align: center;
    margin: 1rem 0;
}

h3 {
    text-align: center;
    color: var(--warm);
    margin: 0.5rem;
}

.values {
    margin: 1.2rem;
}

p {
    color: var(--white);
}

.list {
    color: var(--white);
    padding: 0.5rem;
    margin-left: 2rem;
}

.reviews {
    display: flex;
    flex-direction: column;
    color: #E7E0D6;
    text-shadow: 2px 2px 2px black;
    font-size: 0.8rem;
    background: url(../imgs/reviews.webp), rgba(0, 0, 0, 0.7);
    background-size: 200% 100%;
    background-position: 50% 50%;
    text-align: center;
    height: 50%;
    margin-bottom: 8rem;
}

.review-titel {
    font-size: 1.2rem;
}

.review-tekst {
    font-size: 0.9rem;
    padding: 2%;
}

.rating {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.fas {
    width: 8%;
}

main section section article {
    height: 100%;
}

.slide {
    width: 100%;
    height: 0px;
    padding-bottom: 50%;
    overflow: auto;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}

.slide article {
    position: absolute;
    animation: fling-minislide 20s infinite;
    opacity: 0;
    width: 100%;
    height: 40%;
}

@keyframes fling-minislide {
    10%, 45% { opacity: 1; }
    46%, 89% { opacity: 0; }
}
.slide article:nth-child(1){
    animation-delay:0s;
}
.slide article:nth-child(2){
    animation-delay:10s;
}

.review-1 h2, .review-2 h2, .review-3 h2, .review-4 h2 {
    margin-bottom: 4%;
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    h1 {
        font-size: 2.6rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    p, .list, .review-tekst {
        font-size: 1.5rem;
    }

    .review-titel {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 3rem;
        margin-top: 3.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .review-titel {
        font-size: 1.6rem;
    }
    
    .fas {
        width: 4%;
    }

    p, .list, .review-tekst {
        font-size: 1.2rem;
    }
    
    .reviews {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 80%;
    }

    .slide {
        padding-bottom: 0%;
        height: 40vh;
    }
}

@media only screen and (min-width: 1600px) {
    h1 {
        text-align: left;
        margin-left: 10rem;
        margin-top: 1.3rem;
    }


}