:root {
    --green: #94B688;
    --background: #0C204A;
    --grey: #454851;
    --white: #FBEFF9;
    --contrast: #F78B38;
    --red: #B03B39;
    --ligthred: #D95D41;
    --warm: #DE9334;
    --yellow: #E4B44C;
    --brown: #865A39;
}

h1 {
    color: var(--contrast);
    text-align: center;
    margin-top: 1rem;
}

article img {
    width: 100%;
}